<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/nav') %> 
    <div class="container mt-3">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverIamgeUrl %>" height="300px">
        <p><%= blog.body %></p>
    </div>

    <div class="container">
        <img src="<%=blog.createdBy.profileImageUrl %>" width="60px">
        <span><%=blog.createdBy.fullName %></span>
    </div>

    <div class="container mt-3">
        <h1>Comment (<%= comments.length %>)</h1>
        <% if (locals.user) { %>
            
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <input type="text" name="content"class="form-control" placeholder="Enter your Comment">
                <button type="submit" class="btn btn-primary mt-3">Add</button>
          </div>
        </form>
        <% } %>

        <div class="container">
            <% comments.forEach(comment => { %>
                <img src="<%=comment.createdBy.profileImageUrl %>" width="60px">
                <%=comment.createdBy.fullName %>
                <p><%= comment.content %></p>


            <% }) %>
        </div>


       

    <%- include('./partials/script') %>
</body>
</html>